<div class="container h-100 d-flex align-items-center justify-content-center">
  <div>
    <div class="row">
      <app-card [value]="card1" type="white"></app-card>
      <app-card [value]="card2" type="white"></app-card>
      <app-card [value]="card3" type="red"></app-card>
    </div>
    <div class="row align-items-end">
      <div class="col">
        <button
          class="button-new bg-danger text-white float-right rounded-circle"
          (click)="shuffle()"
        >
          New
        </button>
      </div>
    </div>
  </div>
</div>
