.row {
  margin-top: 200px;
}

.card-item {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  border: 1px black solid;
  box-shadow: 2px 2px 1px black;
  margin: 0 10px;
  padding: 20px;
  font-weight: bold;

  &.card-white {
    color: red;
  }

  &.card-red {
    background-color: red;
    color: white;
  }

  &.animated {
    animation: fadeIn 1s ease-in-out forwards;
  }
}

.button-new {
  height: 100px;
  background-color: rgb(222, 43, 43);
  color: white;
  width: 100px;
  border-radius: 50%;
  left: 500px;
  float: right;
  margin: 50px 100px 0 0;
}

@keyframes fadeIn {
  0% {
    transform: translate(-100%, -100%);
    opacity: 0;
  }
  60% {
    transform: translate(5%, 5%);
    opacity: 0.4;
  }
  80% {
    transform: translate(5%, 5%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
