<div class="container h-100 d-flex align-items-center justify-content-center">
  <div>
    <div class="row">
      <div class="col-sm-12 col-md col-lg">
        <div
          class="card-item p-3 m-2 bg-light font-weight-bold shadow-lg border border-dark border-1 rounded animated"
        >
          {{ card1 }}
        </div>
      </div>
      <div class="col-sm-12 col-md col-lg">
        <div
          class="card-item p-3 m-2 bg-light font-weight-bold shadow-lg border border-dark border-1 rounded animated"
        >
          {{ card2 }}
        </div>
      </div>
      <div class="col-sm-12 col-md col-lg">
        <div
          class="card-item p-3 m-2 bg-danger text-white font-weight-bold shadow-lg border border-dark border-1 rounded animated"
        >
          {{ card3 }}
        </div>
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col">
        <button
          class="button-new bg-danger text-white float-right rounded-circle"
          (click)="shuffle()"
        >
          New
        </button>
      </div>
    </div>
  </div>
</div>
